name: CI
on:
  pull_request: {}
  push:
    branches: [gh-pages]
jobs:
  build:
    name: Build, Validate and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: bikeshed
          SOURCE: index.bs
          DESTINATION: index.html
          GH_PAGES_BRANCH: gh-pages
          BUILD_FAIL_ON: warning
